.business-activities-section {
  padding: 40px;
  background-color: #f9f9f9;
  border-top: 2px solid #d4af37;
  padding-bottom: 0;
}

.business-activities-title {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #2e856e;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: pulse 1.5s infinite;
}

.business-activities-title svg {
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.business-activities-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
}

.business-activities-content.open {
  max-height: 1800px; /* a large enough value to ensure it expands fully */
  opacity: 1;
}

.business-activity-card {
  margin-bottom: 40px;
}

.business-activity-icon {
  font-size: 4rem;
  color: #d4af37;
  margin-bottom: 20px;
}

.business-activity-card h5 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #226b5f;
}

.business-activity-card p {
  font-size: 1rem;
  color: #333;
}

/* Pulse Animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Media Queries */
@media (max-width: 768px) {
  .business-activities-title {
    font-size: 2rem;
  }

  .business-activity-icon {
    font-size: 3rem;
  }

  .business-activity-card h5 {
    font-size: 1.3rem;
  }

  .business-activity-card p {
    font-size: 0.9rem;
  }
}
