.about-card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 1px !important;
}

.about-card {
  background-color: var(--color-primary);
  color: var(--text-color);
  border-radius: 10px;
  margin: 40px 0;
  width: 90%;
  max-width: 1200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.about-card:nth-child(even) {
  flex-direction: row-reverse;
}

.about-card img {
  width: 50%;
  object-fit: cover;
}

.about-card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-card-content h2 {
  font-size: var(--font-size-large);
  margin-bottom: 60px;
  text-align: center;
}

.about-card-content p {
  font-size: var(--font-size-default);
  line-height: var(--line-height-default);
  text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
  .about-card-section {
    padding: 20px 10px;
  }

  .about-card {
    flex-direction: column;
    width: 100%;
  }

  .about-card img {
    width: 100%;
    height: auto;
  }

  .about-card-content {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-card:nth-child(even) {
    flex-direction: column;
  }

  .about-card-content h2 {
    font-size: var(--font-size-medium);
  }

  .about-card-content p {
    font-size: var(--font-size-small);
  }
}

@media (max-width: 576px) {
  .about-card-content h2 {
    font-size: var(--font-size-medium);
  }

  .about-card-content p {
    font-size: var(--font-size-default);
  }
}
