.custom-title {
  padding: 40px 0; /* Add padding to the title */
  margin-top: 20px; /* Add margin to the top */
  margin-bottom: 40px; /* Add margin to the bottom */
  color: #d4af37; /* Set the color to green */
}

.custom-subtitle {
  color: #d4af37; /* Set the subtitle color to green */
  padding: 20px 0; /* Add padding to the subtitle */
}

.form-container {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.info-container {
  background-color: #d4af37;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 93%;
}

.custom-info-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #7a7c7c;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icon {
  font-size: 2rem;
  color: #226b5f;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #d4af37;
}

.custom-button {
  background-color: #2e856e !important; /* Set button color to green */
  color: white !important;
  padding: 8px 16px !important; /* Make the button smaller */
  font-size: 0.875rem !important;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #d4af37 !important;
}

@media (max-width: 600px) {
  .custom-info-item {
    flex-direction: column;
  }
}
