.custom-booking-header {
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1533759413974-9e15f3b745ac?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); /* Replace with a valid URL */
  background-size: cover;
  background-position: center;
  height: 55vh; /* Adjust height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  color: #d4af37;
  border-bottom: #d4af37 2px solid; /* Modificat pentru a corecta eroarea de sintaxă */
}

.custom-booking-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
  z-index: 1;
}

.custom-booking-header-content {
  position: relative;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px; /* Yellow border on top */
  opacity: 0; /* Hidden initially */
  transform: translateY(20px); /* Initial position for slide-in effect */
  animation: fadeInUp 1s forwards; /* Animation properties */
}

.custom-booking-header-content h1 {
  margin-bottom: 20px; /* Add space between h1 and p */
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
  color: #d4af37 !important;
}

/* Animation Keyframes */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Queries */
@media (max-width: 1200px) {
  .custom-booking-header {
    height: 50vh;
  }

  .custom-booking-header-content h1 {
    font-size: 2rem;
  }

  .custom-booking-header-content p {
    font-size: 1rem;
  }
}

@media (max-width: 992px) {
  .custom-booking-header {
    height: 45vh;
  }

  .custom-booking-header-content h1 {
    font-size: 1.8rem;
  }

  .custom-booking-header-content p {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .custom-booking-header {
    height: 40vh;
  }

  .custom-booking-header-content h1 {
    font-size: 1.6rem;
  }

  .custom-booking-header-content p {
    font-size: 0.8rem;
  }
}

@media (max-width: 576px) {
  .custom-booking-header {
    height: 40vh;
  }

  .custom-booking-header-content h1 {
    font-size: 1.4rem;
  }

  .custom-booking-header-content p {
    font-size: 0.7rem;
  }
}
