.header {
  position: relative;
  background-image: url(https://images.unsplash.com/photo-1506059612708-99d6c258160e?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); /* Imaginea trebuie să fie în directorul public */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  color: #d4af37;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
  z-index: 1;
}

.header-content {
  position: relative;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  opacity: 0; /* Hidden initially */
  transform: translateY(20px); /* Initial position for slide-in effect */
  animation: fadeInUp 1s forwards; /* Animation properties */
}

.header-content h1 {
  margin-bottom: 20px !important; /* Adaugă spațiu între h1 și p */
  color: #d4af37;
}
#P-Header-Home {
  color: #d4af37;
}

/* Animation Keyframes */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Queries */
@media (max-width: 1200px) {
  .header {
    height: 100vh;
  }

  .header-content {
    padding: 15px;
  }
}

@media (max-width: 992px) {
  .header {
    height: 100vh;
  }

  .header-content {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .header {
    height: 100vh;
  }

  .header-content {
    padding: 8px;
  }

  .header-content h1 {
    font-size: 1.5rem;
  }

  .header-content p {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .header {
    height: 100vh;
  }

  .header-content {
    padding: 5px;
  }

  .header-content h1 {
    font-size: 1.2rem;
  }

  .header-content p {
    font-size: 0.9rem;
  }
}
