.header {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.header-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.3)
  );
  z-index: 1;
}

.header-content {
  position: relative;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}

.header-content h1 {
  margin-bottom: 20px;
  color: #d4af37;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.header-content .tagline {
  --font-size-medium: 1.5em;
  margin-bottom: 20px;
  color: #f0e68c;
}

.header-content .book-now-button {
  background-color: #d4af37;
  border: none;
  color: #2e856e;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header-content .book-now-button:hover {
  background-color: #f0e68c;
  color: #2e856e;
}

.scroll-down-button {
  position: absolute;
  bottom: 40px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  background: none;
  border: none;
  font-size: 2.5rem;
  color: #d4af37 !important;
  cursor: pointer !important;
  animation: bounce 2s infinite !important;
  z-index: 2 !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-size: 2rem !important;
}

.scroll-down-button:hover {
  color: #ffffff;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* Media Queries */
@media (max-width: 1200px) {
  .header {
    height: 80vh;
  }

  .header-content {
    padding: 15px;
  }

  .scroll-down-button {
    bottom: 30px;
  }
}

@media (max-width: 992px) {
  .header {
    height: 80vh;
  }

  .header-content {
    padding: 10px;
  }

  .header-content h1 {
    font-size: 1.5rem;
  }

  .header-content .tagline {
    font-size: 1rem;
  }

  .scroll-down-button {
    bottom: 30px;
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .header {
    height: 80vh;
  }

  .header-content {
    padding: 8px;
  }

  .header-content h1 {
    font-size: 1.2rem;
  }

  .header-content .tagline {
    font-size: 0.8rem;
  }

  .scroll-down-button {
    bottom: 30px;
    font-size: 1.8rem;
  }
}

@media (max-width: 576px) {
  .header {
    height: 100vh;
  }

  .header-content {
    padding: 5px;
  }

  .header-content h1 {
    font-size: 1.5rem;
  }

  .header-content .tagline {
    font-size: 0.7rem;
  }

  .scroll-down-button {
    bottom: 30px;
    font-size: 1.8rem;
  }
}
