.hotel-info-section {
  background-color: #226b5f;
  padding: 82px 20px;
  text-align: center;
  color: white;
  border-top: 5px solid #d4af37;
  border-bottom: 5px solid transparent; /* Adăugat pentru a evita erori de sintaxă */
}

.hotel-info-content {
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 5px solid transparent; /* Adăugat pentru a evita erori de sintaxă */
}

.hotel-info-content h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.hotel-info-content h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.hotel-info-content p {
  font-size: 1.2em;
  line-height: 1.5;
}

/* Media Queries */
@media (max-width: 1200px) {
  .hotel-info-section {
    padding: 60px 15px;
    padding-bottom: 40px; /* Ajustează padding-ul de jos */
  }

  .hotel-info-content h1 {
    font-size: 2.2em;
  }

  .hotel-info-content h2 {
    font-size: 1.8em;
  }

  .hotel-info-content p {
    font-size: 1.1em;
  }
}

@media (max-width: 992px) {
  .hotel-info-section {
    padding: 50px 10px;
    padding-bottom: 30px; /* Ajustează padding-ul de jos */
  }

  .hotel-info-content h1 {
    font-size: 2em;
  }

  .hotel-info-content h2 {
    font-size: 1.6em;
  }

  .hotel-info-content p {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  .hotel-info-section {
    padding: 40px 5px;
    padding-bottom: 20px; /* Ajustează padding-ul de jos */
  }

  .hotel-info-content h1 {
    font-size: 1.8em;
  }

  .hotel-info-content h2 {
    font-size: 1.4em;
  }

  .hotel-info-content p {
    font-size: 0.9em;
  }
}

@media (max-width: 576px) {
  .hotel-info-section {
    padding: 15px 5px;
    padding-bottom: 10px; /* Ajustează padding-ul de jos */
  }

  .hotel-info-content h1 {
    font-size: 1.8em;
  }

  .hotel-info-content h2 {
    font-size: 1.6em;
  }

  .hotel-info-content p {
    font-size: 1.2em;
  }
}
