.info-section {
  padding: 60px 0;
  background-image: url(https://images.unsplash.com/photo-1495365200479-c4ed1d35e1aa?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); /* Asigură-te că ai imaginea în directorul public */
  background-attachment: fixed; /* Efect de parallax */
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}

.info-section h2 {
  margin-bottom: 20px;
}

.info-section p {
  margin-bottom: 20px;
}

.info-section .btn-primary {
  background-color: #d4af37; /* Culoare aurie pentru buton */
  border: none;
}
