.navbar-custom {
  transition: background-color 0.3s ease, opacity 0.3s ease !important;
  background-color: transparent !important;
}

.navbar-hidden {
  background-color: transparent !important;
  opacity: 1;
}

.navbar-visible {
  background-color: #2e856e !important;
  opacity: 1;
}

.navbar-brand-custom {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #d4af37 !important;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-link {
  color: #d4af37 !important;
}

.navbar-button {
  font-size: 0.8rem !important;
  font-weight: bold;
  margin-left: 10px;
  color: #d4af37 !important;
  border-color: #d4af37 !important;
}

.navbar-button:hover {
  background-color: #d4af37;
  color: #2e856e;
}

.navbar-buttons {
  display: flex;
  align-items: center;
}

.navbar-brand-container {
  flex-grow: 1;
  text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
  .navbar-buttons {
    display: none;
  }

  .navbar-collapse {
    background-color: #2e856e;
  }

  .navbar-nav {
    width: 100%;
    text-align: center;
  }

  .navbar-nav .nav-link {
    width: 100%;
    padding: 10px;
    color: #d4af37 !important;
  }

  .navbar-buttons.d-lg-none {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  .navbar-buttons.d-lg-none .navbar-button {
    margin-bottom: 10px;
  }

  .navbar-buttons.d-none {
    display: none !important;
  }

  .navbar-custom .d-flex {
    justify-content: space-between;
  }

  .navbar-brand-custom {
    position: relative;
    left: 0;
    transform: none;
  }
}
