.room-cards-section {
  padding: 100px 0;
}

.room-card {
  display: flex;
  margin-bottom: 80px !important; /* Increased space between cards */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 400px;
}

.room-card.flex-row-reverse {
  flex-direction: row-reverse;
}

.room-image-wrapper {
  height: 100%;
}

.room-image-wrapper img {
  height: 100%;
  object-fit: cover;
}

.room-description {
  height: 100%;
  display: flex;
  align-items: center;
}

.room-description-content {
  background-color: #ffcc80;
  color: #333;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; /* Adjust text alignment to center */
  position: relative;
}

.room-description h3 {
  margin-bottom: 20px;
}

.room-description p {
  margin: 5px 0;
}

.book-button {
  background-color: #2e856e !important;
  color: white;
  padding: 5px 2px !important;
  font-size: 0.7rem !important; /* Smaller font size */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.book-button:hover {
  background-color: #155f8a !important;
}

/* Media Queries */
@media (max-width: 768px) {
  .room-card {
    flex-direction: column;
    height: auto;
  }

  .room-card.flex-row-reverse {
    flex-direction: column;
  }

  .room-image-wrapper,
  .room-description {
    width: 100%;
    height: auto;
  }

  .room-image-wrapper img {
    height: 300px;
  }

  .book-button {
    position: relative;
    bottom: auto;
    left: auto;
    transform: none;
    margin: 10px auto 0;
  }
}
