.section {
  background-color: #226b5f;
  padding: 50px 20px;
  text-align: center;
  color: white;
  height: 50vh;
  border-bottom: 5px solid #d4af37;
  border-top: 5px solid #d4af37;
}

.section-title {
  color: #d4af37; /* Culoare galbenă pentru "Simte energia" */
  font-size: 2rem;
  margin-bottom: 30px;
}

.section-heading {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.section-description {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #6c757d; /* Culoare text */
  line-height: 2; /* Spatiu între rânduri */
  color: white;
}

/* Media Queries */
@media (max-width: 1200px) {
  .section {
    padding: 40px 15px;
  }

  .section-title {
    font-size: 1.8rem;
  }

  .section-heading {
    font-size: 2.2rem;
  }

  .section-description {
    font-size: 1.1rem;
  }
}

@media (max-width: 992px) {
  .section {
    padding: 30px 10px;
  }

  .section-title {
    font-size: 1.6rem;
  }

  .section-heading {
    font-size: 2rem;
  }

  .section-description {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 20px 5px;
    height: auto;
  }

  .section-title {
    font-size: 1.4rem;
  }

  .section-heading {
    font-size: 1.8rem;
  }

  .section-description {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .section {
    padding: 15px 5px;
    height: auto;
  }

  .section-title {
    font-size: 1.2rem;
  }

  .section-heading {
    font-size: 1.6rem;
  }

  .section-description {
    font-size: 0.8rem;
  }
}
