/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Stiluri generale */
:root {
  --font-family: "Roboto", sans-serif;
  --color-primary: #226b5f;
  --color-secondary: #d4af37;
  --text-color: white;
  --font-size-default: 1em;
  --font-size-large: 2em;
  --font-size-medium: 1.5em;
  --font-size-small: 1.2em;
  --line-height-default: 1.5;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  line-height: var(--line-height-default);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  margin: 0 0 20px 0;
}

p {
  margin: 0 0 20px 0;
  line-height: var(--line-height-default);
}

img,
video {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  display: inline-block;
  font-size: var(--font-size-default);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-secondary);
  color: var(--text-color);
  cursor: pointer;
}

button:hover {
  background-color: #c6952d;
}

/* Layout de bază */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

/* Header */
.header {
  background-color: var(--color-primary);
  color: var(--text-color);
  padding: 20px 0;
  text-align: center;
}

.header h1 {
  margin: 0;
  font-size: var(--font-size-large);
}

/* Footer */
.footer {
  background-color: var(--color-primary);
  color: var(--text-color);
  padding: 10px 0;
  text-align: center;
}

.footer p {
  margin: 0;
}

/* Main Content Area */
.main-content {
  flex: 1;
  padding: 20px;
}

/* Flex Layout */
.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Navbar */
.navbar {
  background-color: #226b5f;
  color: var(--text-color);
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: var(--text-color);
  padding: 0 10px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #575757;
}

/* Media Queries */
@media (max-width: 1200px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.1rem;
  }

  .header h1 {
    font-size: 2.2em;
  }
}

@media (max-width: 992px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1rem;
  }

  .header h1 {
    font-size: 2em;
  }
}

@media (max-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.4rem;
  }

  p {
    font-size: 0.9rem;
  }

  .header h1 {
    font-size: 1.8em;
  }
}

@media (max-width: 576px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.8rem;
  }

  .header h1 {
    font-size: 1.6em;
  }
}
