/* Previne overflow-ul orizontal */
body,
html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  max-width: 100%;
  overflow: hidden;
}

img,
video {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Media Queries */
@media (max-width: 768px) {
  .navbar-custom {
    overflow: hidden;
    width: 100%;
  }

  .room-card,
  .contact-form,
  .container {
    width: 100%;
    padding: 0 15px; /* Adaugă padding pentru a preveni overflow-ul */
  }
}
